#cats{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cat{
  margin: 20px;
  align-self: flex-start;
}

body{
  background-color: #f99
}

img{
  margin: 10px;
}

.cat:hover{
  animation:disco 1s infinite;
}

.logo {
  width: 50px;
  height: 50px;
}

.red-quote{
  color: red;
}

@keyframes disco{
  0% {
    background:blue;
  }
  10% {
    background:cyan;
    }
  20% {
    background:green;
  }
  30% {
    background:yellow;
  }
  40% {
    background:orange;
  }
  50% {
    background:red;
  }
  60% {
    background:purple;
  }
  70% {
    background:blue;
  }
  80% {
    background:yellow;
  }
  90% {
    background:white;
  }
  100% {
    background:blue;
  }
}